{% extends "layout.html" %}
  {% block content %}

    <div class="container-fluid">

      <section class="jumbotron text-center p-5">
        <div class="container">
            <h1 class="jumbotron-heading mb-4">Projeto RPG</h1>
            <p class="lead text-muted mb-5">O Site <span color="#9F0000">Projeto RPG</span> é desenvolvido com a finalidade de 
              permitir que jogadores de RPG possam registrar os dados e fichas de seus personagens, mantê-los e atualizá-los de
              maneira simples e prática, além de compartilhá-los com amigos e toda a comunidade.
            </p>
          <div class="row">
            <a href="{{url_for('personagens.procurar_personagem')}}" class="btn-lg col btn-primary p-3 mr-3 ml-3 mb-4">Procurar Personagem</a>
            <a href="{{url_for('personagens.registrar_personagem')}}" class="btn-lg col btn-primary p-3 mr-3 ml-3 mb-4">Registrar Personagem</a>
          </div>
        </div>
      </section>

      <h2 class="ml-1 text-center mb-3">Ultimos personagens registrados no site</h2>
      <div class="row pl-3" style="margin: 0 auto;">

        {% for personagem in personagens %}

          <card class="content-section col-md-4 mb-4 pr-0 m-1 pl-3 pr-3 personagem1" style="max-width: 340px; min-width: 310px; text-align: center;" >
            <div class="media-body">
              <div class="article-metadata">
                <span >Raça: {{ personagem.raca }}</span>
                <small class="text-muted">Classe: {{ personagem.classe }}</small>
              </div>
              <h2><a class="article-title" href="{{url_for('personagens.mostrar_personagem', personagem_id=personagem.id)}}">{{ personagem.nome }}</a></h2>
              <p class="article-content">Nível: {{ personagem.nivel }}</p>
              <a href="{{url_for('personagens.mostrar_personagem', personagem_id=personagem.id)}}">
                <img class="account-img" src="{{ url_for('static', filename='imagens_personagens/' + personagem.foto) }}">
              </a>
              <p class="article-content">Criador por: <a href="{{url_for('usuarios.mostrar_perfil_usuario', usuario_id = personagem.autor.id)}}">{{ personagem.autor.nome }}</a></p>
              {% if personagem.nota == None %}
                <p class="article-content"><span class="fonte_mec", style="color: #CE0000">Ainda não</span> avaliado pela comunidade!</span></p>
              {% else %}
                <p class="article-content">Nota da comunidade: <span class="fonte_mec", style="color: #CE0000">{{personagem.nota}}</span></p>
              {% endif %}
              <small class="text-muted">Criado em: {{ personagem.data_criacao.strftime('%d-%m-%Y') }}</small>
            </div>

          </card>

        {% endfor %}

      </div>
    </div>



  {% endblock content %}