{% extends "layout.html" %}

    {% block content %}
        <div class="d-flex justify-content-center h-100">
            <div class="card p-4" style="min-width: 60%">

                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Alterar senha</legend>

                        <!-- Senha do usuário-->
                        <div class="form-group">
                            {{ form.senha.label(class="form-control-label") }}
                            {% if form.senha.errors %}
                                {{ form.senha(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.senha.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}

                                </div>
                            {% else %}
                                {{ form.senha(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!-- Confirmar a senha do usuário-->
                        <div class="form-group">
                            {{ form.confirmar_senha.label(class="form-control-label") }}
                            {% if form.confirmar_senha.errors %}
                                {{ form.confirmar_senha(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirmar_senha.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirmar_senha(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                        </fieldset>

                        <!-- Enviar -->
                        <div class="form-group text-right">
                            {{ form.botao_enviar(class="btn btn-success") }}
                        </div>
                    </form>
                </div>
            </div>

    {% endblock content %}
