{% extends "layout.html" %}
{% block content %}

    <div class="content-section">

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Editar Personagem</legend>

                <!-- Nome do personagem-->
                <div class="form-group">
                    {{ form.nome.label(class="form-control-label") }}
                    {% if form.nome.errors %}
                        {{ form.nome(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nome.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nome(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Raça do personagem-->
                <div class="form-group">
                    {{ form.raca.label(class="form-control-label") }}
                    {% if form.raca.errors %}
                        {{ form.raca(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.raca.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.raca(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Classe do personagem-->
                <div class="form-group">
                    {{ form.classe.label(class="form-control-label") }}
                    {% if form.classe.errors %}
                        {{ form.raca(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.classe.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.classe(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Nível do personagem-->
                <div class="form-group">
                    {{ form.nivel.label(class="form-control-label") }}
                    {% if form.nivel.errors %}
                        {{ form.nivel(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nivel.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nivel(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Força-->
                <div class="form-group">
                    {{ form.forca.label(class="form-control-label") }}
                    {% if form.forca.errors %}
                        {{ form.forca(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.forca.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.forca(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Destreza -->
                <div class="form-group">
                    {{ form.destreza.label(class="form-control-label") }}
                    {% if form.destreza.errors %}
                        {{ form.destreza(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.destreza.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.destreza(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Constituicao -->
                <div class="form-group">
                    {{ form.constituicao.label(class="form-control-label") }}
                    {% if form.constituicao.errors %}
                        {{ form.constituicao(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.constituicao.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.constituicao(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Inteligencia -->
                <div class="form-group">
                    {{ form.inteligencia.label(class="form-control-label") }}
                    {% if form.inteligencia.errors %}
                        {{ form.inteligencia(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.inteligencia.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.inteligencia(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Sabedoria -->
                <div class="form-group">
                    {{ form.sabedoria.label(class="form-control-label") }}
                    {% if form.sabedoria.errors %}
                        {{ form.sabedoria(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sabedoria.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sabedoria(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Carisma -->
                <div class="form-group">
                    {{ form.carisma.label(class="form-control-label") }}
                    {% if form.carisma.errors %}
                        {{ form.carisma(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.carisma.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.carisma(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Antecedente -->
                <div class="form-group">
                    {{ form.antecedente.label(class="form-control-label") }}
                    {% if form.antecedente.errors %}
                        {{ form.antecedente(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.antecedente.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.antecedente(class="form-control form-control-lg") }}
                    {% endif %}
                
                </div>

                 <!-- Foto de referência -->
                <div class="form-group">
                    {{ form.foto_referencia.label() }}
                    {{ form.foto_referencia(class='form-control-file') }}
                    {% if form.foto_referencia.errors %}
                            {% for error in form.foto_referencia.errors %}
                                <span class='text-danger'>{{ error }}</span></br>
                            {% endfor %}
                    {% endif %}
                </div>
            <!-- Enviar -->
            <div class="form-group">
                {{ form.enviar(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>


{% endblock content %}
