{% extends "layout.html" %}

    {% block content %}

        <div class="content-section">

            <form method="POST" action="" enctype="multipart/form-data">
                {{ form_editar.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Editar Personagem</legend>

                    <!-- Nome do personagem-->
                    <div class="form-group row pr-3 pl-3">
                        {{ form_editar.nome.label(class="form-control-label") }}
                        {% if form_editar.nome.errors %}
                            {{ form_editar.nome(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_editar.nome.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_editar.nome(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="row">
                        <!-- Raça do personagem-->
                        <div class="form-group col-sm-6">
                            {{ form_editar.raca.label(class="form-control-label") }}
                            {% if form_editar.raca.errors %}
                                {{ form_editar.raca(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.raca.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.raca(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!-- Classe do personagem-->
                        <div class="form-group col-sm-6">
                            {{ form_editar.classe.label(class="form-control-label") }}
                            {% if form_editar.classe.errors %}
                                {{ form_editar.raca(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.classe.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.classe(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>

                    <!-- Nível do personagem-->
                    <div class="form-group">
                        {{ form_editar.nivel.label(class="form-control-label", type="number", min="1", max="99") }}
                        {% if form_editar.nivel.errors %}
                            {{ form_editar.nivel(class="form-control form-control-lg is-invalid", type="number", min="1", max="99") }}
                            <div class="invalid-feedback">
                                {% for error in form_editar.nivel.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_editar.nivel(class="form-control form-control-lg", type="number", min="1", max="99") }}
                        {% endif %}
                    </div>

                    <div class="row">
                        <!-- Força-->
                        <div class="form-group col-sm-4">
                            {{ form_editar.forca.label(class="form-control-label", type="number", min="1", max="99") }}
                            {% if form_editar.forca.errors %}
                                {{ form_editar.forca(class="form-control form-control-lg is-invalid", type="number", min="1", max="99") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.forca.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.forca(class="form-control form-control-lg", type="number", min="1", max="99") }}
                            {% endif %}
                        </div>

                        <!-- Destreza -->
                        <div class="form-group col-sm-4">
                            {{ form_editar.destreza.label(class="form-control-label", type="number", min="1", max="99") }}
                            {% if form_editar.destreza.errors %}
                                {{ form_editar.destreza(class="form-control form-control-lg is-invalid", type="number", min="1", max="99") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.destreza.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.destreza(class="form-control form-control-lg", type="number", min="1", max="99") }}
                            {% endif %}
                        </div>

                        <!-- Constituicao -->
                        <div class="form-group col-sm-4">
                            {{ form_editar.constituicao.label(class="form-control-label", type="number", min="1", max="99") }}
                            {% if form_editar.constituicao.errors %}
                                {{ form_editar.constituicao(class="form-control form-control-lg is-invalid", type="number", min="1", max="99") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.constituicao.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.constituicao(class="form-control form-control-lg", type="number", min="1", max="99") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                    <!-- Inteligencia -->
                        <div class="form-group col-sm-4">
                            {{ form_editar.inteligencia.label(class="form-control-label", type="number", min="1", max="99") }}
                            {% if form_editar.inteligencia.errors %}
                                {{ form_editar.inteligencia(class="form-control form-control-lg is-invalid", type="number", min="1", max="99") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.inteligencia.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.inteligencia(class="form-control form-control-lg", type="number", min="1", max="99") }}
                            {% endif %}
                        </div>

                        <!-- Sabedoria -->
                        <div class="form-group col-sm-4">
                            {{ form_editar.sabedoria.label(class="form-control-label", type="number", min="1", max="99") }}
                            {% if form_editar.sabedoria.errors %}
                                {{ form_editar.sabedoria(class="form-control form-control-lg is-invalid", type="number", min="1", max="99") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.sabedoria.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.sabedoria(class="form-control form-control-lg", type="number", min="1", max="99") }}
                            {% endif %}
                        </div>

                        <!-- Carisma -->
                        <div class="form-group col-sm-4">
                            {{ form_editar.carisma.label(class="form-control-label", type="number", min="1", max="99") }}
                            {% if form_editar.carisma.errors %}
                                {{ form_editar.carisma(class="form-control form-control-lg is-invalid", type="number", min="1", max="99") }}
                                <div class="invalid-feedback">
                                    {% for error in form_editar.carisma.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_editar.carisma(class="form-control form-control-lg", type="number", min="1", max="99") }}
                            {% endif %}
                        </div>
                    </div>

                    <!-- Historia -->
                    <div class="form-group">
                        {{ form_editar.historia.label(class="form-control-label") }}
                        {% if form_editar.historia.errors %}
                            {{ form_editar.historia(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_editar.historia.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_editar.historia(class="form-control form-control-lg") }}
                        {% endif %}
                    
                    </div>

                    <!-- Foto de referência -->
                    <div class="form-group">
                        {{ form_editar.foto_referencia.label() }}
                        {{ form_editar.foto_referencia(class='form-control-file') }}
                        {% if form_editar.foto_referencia.errors %}
                                {% for error in form_editar.foto_referencia.errors %}
                                    <span class='text-danger'>{{ error }}</span></br>
                                {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Enviar -->
                    <div class="form-group text-right">
                        {{ form_editar.botao_enviar(class="btn btn-success", value = "Editar") }}
                    </div>
                    
                </fieldset>
            </form>

        </div>


    {% endblock content %}
