{% extends "layout.html" %}
{% block content %}

        <div class="d-flex justify-content-center h-100">
		    <div class="card p-4" style="min-width: 60%">

                <form method="POST" action="">
                    {{ form_logar_usuario.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Logar usuário</legend>

                        <!-- Nome de usuário-->
                        <div class="form-group">
                            {{ form_logar_usuario.nome.label(class="form-control-label") }}
                            {% if form_logar_usuario.nome.errors %}
                                {{ form_logar_usuario.nome(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_logar_usuario.nome.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_logar_usuario.nome(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!-- Senha do usuário-->
                        <div class="form-group">
                            {{ form_logar_usuario.senha.label(class="form-control-label") }}
                            {% if form_logar_usuario.senha.errors %}
                                {{ form_logar_usuario.senha(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_logar_usuario.senha.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_logar_usuario.senha(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!-- Manter logado -->
                        <div class="form-check">
                            {{ form_logar_usuario.permanecer_logado(class="form-check-input") }}
                            {{ form_logar_usuario.permanecer_logado.label(class="form-check-label") }}
                        </div>
                    </fieldset>

                    <!-- Enviar -->
                    <div class="form-group text-right">
                        {{ form_logar_usuario.botao_logar(class="btn btn-success") }}
                    </div>

                    <!-- Recuperação de senha -->
                    <div class="pt-3">
                        <span class="text-muted">
                            <a href="{{ url_for('requisitar_recuperacao')}}">Esqueceu o seu login?</a>
                        </span>
                    </div>
                </form>

                <!-- Criar uma nova conta caso não possua ainda-->
                <div class="border-bottom pt-3">
                    <span class="text-muted">
                        Ainda não possui uma conta? <a class="ml-2" href="{{ url_for('usuarios.registrar_usuario') }}">Registre-se agora mesmo!</a>
                    </span>
                </div>
            </div>
        </div>



{% endblock content %}
