{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <div class="media">
             <img class="rounded-circle account-img" src="{{ url_for('static', filename='imagens_perfil/' + usuario.foto) }}">
            <div class="media-body">
                <h2 class="account-heading">
                {% if usuario.isAdmin == True %}
                <span style = "color: crimson">[Admin]</span>
                {% endif %}
                {{usuario.nome}}
                </h2>
                <p class="text-secondary">{{usuario.email}}<br>
                Membro desde: {{ usuario.registro.strftime('%d-%m-%Y') }}</p>
            </div>
        </div>

        {% if usuario == current_user or current_user.isAdmin == True %}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">

                <legend class="border-bottom mb-4">Editar dados do usuário</legend>
               
                <div class="form-group">
                    {{ form.nome.label(class="form-control-label") }}

                    <!-- Nome de usuário-->
                    {% if form.nome.errors %}
                        {{ form.nome(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nome.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nome(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- E-mail -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Foto de perfil -->
                <div class="form-group">
                    {{ form.imagem_perfil.label() }}
                    {{ form.imagem_perfil(class='form-control-file') }}
                    {% if form.imagem_perfil.errors %}
                            {% for error in form.imagem_perfil.errors %}
                                <span class='text-danger'>{{ error }}</span></br>
                            {% endfor %}
                    {% endif %}

            </fieldset>

            <!-- Botão de enviar -->
            <div class="form-group">
                {{ form.enviar(class="btn btn-outline-info") }}
            </div>

        </form>


    </div>
    {% endif %}

    <fieldset>
    <h2>Personagens registrados</h2>
    {% for personagem in personagens %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Raça: {{ personagem.raca }}</a>
              <small class="text-muted">Classe: {{ personagem.classe }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('ver_personagem', personagem_id=personagem.id)}}">{{ personagem.nome }}</a></h2>
            <p class="article-content">Nível: {{ personagem.nivel }}</p>
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='imagens_personagens/' + personagem.foto) }}">
            <p class="article-content">Criador por: <a  href="{{url_for('perfil_usuario', usuario_id = personagem.autor.id)}}">{{ personagem.autor.nome }}</a></p>
            <small class="text-muted">Criado em: {{ personagem.criacao.strftime('%d-%m-%Y') }}</small>
            
          </div>
          <br>
        </article>

    {% endfor %}
    </fieldset>
{% endblock content %}
