{% extends "layout.html" %}
{% block content %}

    
    <div class="content-section">
        <div class="media pt-1">
            <img class="account-img mt-3" src="{{ url_for('static', filename='imagens_perfil/' + usuario.foto) }}">
            <div class="media-body">
                <h2 class="account-heading ml-4 mt-1">
                    {% if usuario.isAdmin == True %}
                        <span style = "color: #C60000">[Admin]</span>
                    {% endif %}
                    {{usuario.nome}}
                </h2>
                <p class="text-secondary ml-4">{{usuario.email}}<br>
                Membro desde: {{ usuario.data_registro.strftime('%d-%m-%Y') }}</p>
                {% if usuario == current_user %}
                <!-- Botão para alterar a senha -->
                    <p class="text-secondary ml-4">
                        <a href="{{ url_for('requisitar_recuperacao')}}">Alterar a senha</a>
                    </p>
                {% endif %}
            </div>
            
        </div>

        {% if usuario == current_user %}
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form_editar_conta.hidden_tag() }}

                <fieldset class="form-group">

                    <legend class="border-bottom mb-4">Editar dados do usuário</legend>
                
                    <div class="form-group">
                        {{ form_editar_conta.nome.label(class="form-control-label") }}

                        <!-- Nome de usuário-->
                        {% if form_editar_conta.nome.errors %}
                            {{ form_editar_conta.nome(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_editar_conta.nome.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_editar_conta.nome(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <!-- E-mail -->
                    <div class="form-group">
                        {{ form_editar_conta.email.label(class="form-control-label") }}
                        {% if form_editar_conta.email.errors %}
                            {{ form_editar_conta.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_editar_conta.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_editar_conta.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <!-- Foto de perfil -->
                    <div class="form-group">
                        {{ form_editar_conta.imagem_perfil.label() }}
                        {{ form_editar_conta.imagem_perfil(class='form-control-file') }}
                        {% if form_editar_conta.imagem_perfil.errors %}
                                {% for error in form_editar_conta.imagem_perfil.errors %}
                                    <span class='text-danger col text-right'>{{ error }}</span></br>
                                {% endfor %}
                        {% endif %}

                </fieldset>

                <!-- Botão de enviar atualizações da conta-->
                <div class="row">
                    <div class="form-group col text-right">
                        {{ form_editar_conta.botao_editar(class="btn btn-success") }}
                    </div>
                </div>

            </form>
        {% endif %}


        <!-- Botão de apagar conta -->
        <div class="row mb-3">
            {% if usuario == current_user or current_user.isAdmin == True %}
                <div class="form-group col text-right">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">Apagar conta</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DeleteModalLongTitle">Apagar <span class="modal-nome"> {{usuario.nome}} </span></h5>
                            <span class="modal-span">Tem certeza que deseja apagar esse usuários e todos seus personagens?</span>
                        </div>
                    <div class="modal-body">
                        Uma vez apagado, esse usuário e seus personagens não poderão mais ser recuperados!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <form action="{{url_for('usuarios.apagar_usuario', usuario_id=usuario.id )}}" method="POST">
                                <input class="btn btn-danger" type="submit" value="Apagar">
                            </form>
                    </div>
                </div>
                </div>
        </div>
            {% endif %}
        </div>

    </div>

    {% if (personagens.items)|length > 0 %}
        <!-- Mostrar os personagens registrados pelo usuário-->
        <fieldset class="justify-content-xl-center procurar1">
        <h2 class="ml-1">Personagens registrados pelo usuário</h2>
        <div class="container-fluid">
            <div class="row">
                {% for personagem in personagens.items %}
                    <card class="media content-section col-md-4 mb-4 m-1" style="max-width: 340px; min-width: 310px; text-align: center;">
                    <div class="media-body">
                        <div class="article-metadata">
                        <span class="mr-2">Raça: {{ personagem.raca }}</span>
                        <small class="text-muted">Classe: {{ personagem.classe }}</small>
                        </div>
                        <h2><a class="article-title" href="{{url_for('personagens.mostrar_personagem', personagem_id=personagem.id)}}">{{ personagem.nome }}</a></h2>
                        <p class="article-content">Nível: {{ personagem.nivel }}</p>
                        <a href="{{url_for('personagens.mostrar_personagem', personagem_id=personagem.id)}}">
                            <img class="account-img" src="{{ url_for('static', filename='imagens_personagens/' + personagem.foto) }}">
                        </a>
                        <p class="article-content">Criador por: <a  href="{{url_for('usuarios.mostrar_perfil_usuario', usuario_id = personagem.autor.id)}}">{{ personagem.autor.nome }}</a></p>
                        {% if personagem.nota == None %}
                            <p class="article-content"><span class="fonte_mec", style="color: #CE0000">Ainda não</span> avaliado pela comunidade!</span></p>
                        {% else %}
                            <p class="article-content">Nota da comunidade: <span class="fonte_mec", style="color: #CE0000">{{ personagem.nota}}</span></p>
                        {% endif %}
                        <small class="text-muted">Criado em: {{ personagem.data_criacao.strftime('%d-%m-%Y') }}</small>
                    </div>
                    </card>
                {% endfor %}
            </div>
        </div>
        
        

            <!-- Botões para a paginação -->
            <div class="text-center">
                {% for pagina in personagens.iter_pages(left_edge=3, right_edge=3, left_current=3,right_current=3) %}
                    {% if pagina %}
                        {% if pagina == personagens.page%}
                            <a class="btn btn-danger mb-4" href="{{url_for('usuarios.mostrar_perfil_usuario', usuario_id = usuario.id, pagina=pagina)}}">{{pagina}}</a>
                        {% else %}
                            <a class="btn btn-dark mb-4" href="{{url_for('usuarios.mostrar_perfil_usuario', usuario_id = usuario.id, pagina=pagina)}}">{{pagina}}</a>
                        {% endif %}
                        {% else %}
                            ...
                    {% endif %}
                {% endfor %}
            </div>
        </fieldset>
        
    {% endif %}

{% endblock content %}
