{% extends "layout.html" %}
{% block content %}

    
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
                {{ form_procurar_pers.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 pt-3">Procurar por Personagem</legend>

                    <!-- Nome do personagem-->
                    <div class="form-group row pr-3 pl-3">
                        {{ form_procurar_pers.nome.label(class="form-control-label") }}
                        {% if form_procurar_pers.nome.errors %}
                            {{ form_procurar_pers.nome(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_procurar_pers.nome.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_procurar_pers.nome(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <div class="row">
                        <!-- Raça do personagem-->
                        <div class="form-group col-sm-6">
                            {{ form_procurar_pers.raca.label(class="form-control-label") }}
                            {% if form_procurar_pers.raca.errors %}
                                {{ form_procurar_pers.raca(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_procurar_pers.raca.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_procurar_pers.raca(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <!-- Classe do personagem-->
                        <div class="form-group col-sm-6">
                            {{ form_procurar_pers.classe.label(class="form-control-label") }}
                            {% if form_procurar_pers.classe.errors %}
                                {{ form_procurar_pers.raca(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form_procurar_pers.classe.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form_procurar_pers.classe(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>

                    <!-- Enviar -->
                    <div class="form-group text-right">
                        {{ form_procurar_pers.botao_procurar(class="btn btn-success") }}
                    </div>

                </fieldset>
        </form>
    </div>

    <!-- Mostrar os personagens encontrados na pesquisa -->
    <fieldset class="justify-content-xl-center procurar1">
        <h2 class="mt-4">Personagens encontrados:</h2>
        <div class="container-fluid">
            <div class="row">
                {% for personagem in personagens.items %}
                    <article class="content-section col-md-4 mb-4 pr-0 m-1 pl-3 pr-3" style="max-width: 340px; text-align: center;" >
                        <div class="media-body">
                            <div class="article-metadata">
                                <span class="mr-2">Raça: {{ personagem.raca }}</span>
                                <small class="text-muted">Classe: {{ personagem.classe }}</small>
                            </div>
                            <h2><a class="article-title" href="{{url_for('personagens.mostrar_personagem', personagem_id=personagem.id)}}">{{ personagem.nome }}</a></h2>
                            <p class="article-content">Nível: {{ personagem.nivel }}</p>
                            <img class="account-img" src="{{ url_for('static', filename='imagens_personagens/' + personagem.foto) }}">
                            <p class="article-content">Criador por: <a  href="{{url_for('usuarios.mostrar_perfil_usuario', usuario_id = personagem.autor.id)}}">{{ personagem.autor.nome }}</a></p>
                            <p class="article-content">Nota da comunidade: <span class="fonte_mec", style="color: #CE0000">{{ personagem.nota}}</span></p>
                            <small class="text-muted">Criado em: {{ personagem.data_criacao.strftime('%d-%m-%Y') }}</small>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>


        <!-- Botões para a paginação -->
        <div class="text-center">
            {% for pagina in personagens.iter_pages(left_edge=3, right_edge=3, left_current=3,right_current=3) %}
                {% if pagina %}
                {% if pagina == personagens.page%}
                    <a class="btn btn-danger mb-4" href="{{url_for('personagens.procurar_personagem', pagina=pagina)}}">{{pagina}}</a>
                {% else %}
                    <a class="btn btn-dark mb-4" href="{{url_for('personagens.procurar_personagem', pagina=pagina)}}">{{pagina}}</a>
                {% endif %}
                {% else %}
                ...
                {% endif %}
            {% endfor %}
        </div>
            
    </fieldset>
    
   
{% endblock content %}
