{% extends "layout.html" %}
{% block content %}

        <div class="d-flex justify-content-center h-100">
		    
            <div class="content-section aviso_erro">

                <h1><span class="fonte_mec vermelho">Erro 403</span> - Permissão Negada!</h1>

                <p class="text-justify">
                    Você não possuí permissão para acessar essa página!
                </p>
                <p class="text-justify">
                    Tente digitar a URL novamente ou <a href="{{ url_for('geral.mostrar_home')}}">clique aqui</a> para retornar para a Home
                </p>
            </div>
        </div>



{% endblock content %}
